%form#full-search{ action: settings.app_path, mathod: "get" }
  %fieldset
    %label.control-label{ for: "q"}= "Sök på malmo.se"
    .input-append
      %input{ name: "utf8", type: "hidden", value: '&#x2713;' }
      %input#q{ type: "text", name: "q", value: params[:q], placeholder: "Ange ett eller flera sökord", "data-autocomplete-path" => settings.autocomplete_url }
      %input.btn{ type: "submit", value: "Sök", name: nil}
