- @recommendations.each do |recommendation|
  %li.recommendation
    %a{href: recommendation.link, alt: recommendation.name }
      .img-wrapper= image_tag recommendation.image
      %h2= recommendation.name
