- @recommendations.each do |recommendation|
  %li
    %a{href: recommendation.link, alt: recommendation.name }
      .img-wrapper= image_tag recommendation.images.thumb
      .text.body-copy
        %h2= recommendation.name
        %p.description= recommendation.description
