%span.control-label
= t.input :name, label: false, wrapper: :addon_after do
  = t.input_field :name, class: "form-control"
  %span.input-group-btn
    %button.btn.btn-default.remove{ type: :button }
      %span.fa.fa-times
= t.input_field :_destroy, as: :hidden
