%pre= @results.editors_choice.to_yaml
- @results.editors_choice.each_with_index do |entry, i|
  %li.editors_choice{ "data-entry" => i + 1 }
    %h2
      %a{ href: entry.url}= entry.text
    %p.extract= entry.summary
