- if @error
  .error= "Ett fel inträffade med Euroling Siteseeker (#{@error})"
- if @results.entries.size > 0
  %p.summary
    = "Din sökning gav "
    = pluralize(@results.total, "träff", "träffar")
