- title "Sökord"
%section.box.index
  %h1.box-title= h1
  .box-content.body-copy
    .table-wrapper
    %table.full
      %thead
        %tr
          %th Sökord
          %th.auth Rekommendation
      %tbody
        - prev_term = ""
        - @terms.each do |term|
          %tr
            %td{ class: (prev_term == term.name ? "duplicate" : "") }= term.name
            - prev_term = term.name
            %td= link_to term.recommendation.name, edit_recommendation_path(term.recommendation)
