nav.app {
  text-align: right;
  font-family: $sansSerif;
  font-size: emize(14);
  a {
    margin-right: 1em;
  }
  a.username {
    margin-left: 1.5em;
    @media (max-width: 32em) {
      display: none;
    }
  }
}

.admin {
  .fa-times {
    color: $dangerColor;
  }
  div.terms {
    border-bottom: $border;
    padding-bottom: 1em;
    margin-bottom: 1em;
    .control-group {
      margin: .2em 0;
    }
  }
  button.btn {
    margin-left: 0;
  }
  .duplicate {
    color: red;
  }
  input.image_preview {
    display: block;
    margin: 1em 0 0;
  }
  .control-group.image_preview {
    margin-bottom: 0;
  }
  @media (max-width: 48em) {
    td, th {
      &.terms, &.auth {
        display: none;
      }
    }
  }
}
.user {
  .wrapper {
    margin-top: 0;
  }
}
