.user-info {
  text-align: right;
  font-family: $sansSerif;
  font-size: emize(13);
  margin: 0 0 2em;
}
.admin {
  #malmo-masthead {
    margin-bottom: 2em;
  }
  .icon-remove {
    color: $dangerColor;
  }
  .terms {
    border-bottom: $border;
    padding-bottom: 1em;
    margin-bottom: 1em;
    .control-group {
      margin: .2em 0;
    }
  }
  button.btn {
    margin-left: 0;
  }
}
