nav.app {
  position: absolute;
  top: -2.5em;
  right: 0em;
  z-index: 1000;
  font-family: $sansSerif;
  font-size: emize(13);
  a {
    margin-right: 1em;
  }
  a.username {
    margin-left: 2em;
  }
  a.logout {
    margin-right: 0;
  }
}

.admin {
  #malmo-masthead {
    margin-bottom: 2em;
  }
  .icon-remove {
    color: $dangerColor;
  }
  .terms {
    border-bottom: $border;
    padding-bottom: 1em;
    margin-bottom: 1em;
    .control-group {
      margin: .2em 0;
    }
  }
  button.btn {
    margin-left: 0;
  }
  .duplicate {
    color: red;
  }
}
