section.categories {
  a {
    color: black;
  }

  h1 {
    font-size: emize(16);
    font-weight: bold;
    line-height: 1;
    font-family: $sansSerif;
    border-bottom: $border;
    margin: 0 0 .4em;
    padding-bottom: .2em;
  }

  ul {
    font-size: emize(14);
    font-family: $sansSerif;
    list-style: none;
    margin: 0 0 1.6em;
    padding: 0;
  }
  li.group {
    margin: 1.5em 0 .5em;
    padding-bottom: .2em;
    border-bottom: $border;
    font-weight: bold;
    font-size: emize(16, 14);
  }
  li:first-child {
    margin-top: 0;
  }
  li.current {
    font-weight: bold;
    span.hits {
      font-weight: normal;
    }
  }
}
