section.site-search {
  form {
    label {
      font-family: $serif;
      font-size: emize(36, 14);
      line-height: emize(40, 36);
      margin: .1em 0 .3em;
    }
    .q {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }
  }
  .summary {
    margin: .5em 0 1em;
    font-family: $sansSerif;
    font-size: emize(14);
    line-height: 1.3;
  }

  .sort {
    margin: 0 0 .5em;
    padding: 0;
  }
  .sort li {
    font-family: $sansSerif;
    font-size: emize(14);
    line-height: 1.3;
    display: inline;
    margin: 0;
    .current {
      font-weight: bold;
    }
  }
}
