.wrapper {
  @include clearfix();
  margin: 1em auto;
  max-width: 55em;
  padding: 0 1em;
}

section.site-search {
  margin: 2em auto 0;
  @include clearfix();

  .search-and-results {
    margin: .1em 0 2em;
    @include columns(8, false, 4%);
    h1 {
      display: none;
    }
  }

  nav.basic {
    @include columns(4, true, 4%);
  }
}

section.not-found, section.server-error {
  margin-top: 2em;
}
