@media ( max-width: 68em ) {
  body {
    min-width: 0;
  }
}

@media ( max-width: 51em ) {
  body {
    .wrapper {
      margin: 0 1.5em;
      padding-bottom: 1em;
    }
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media ( max-width: 44em ) {
  body.site-search .wrapper {
    margin: 0 1.5em;
  }
  section.site-search {
    .search-and-results {
      @include columns(12);
    }
    section.categories {
      @include columns(12);
      li {
        margin: 1em 0;
      }
      li.group {
        margin-top: 2em;
      }
    }
    .filter {
      display: block;
    }
  }

  nav.app {
    top: -2.0em;
  }
  .admin {
    td, th {
      &.terms, &.auth {
        display: none;
      }
    }
  }
}
@media ( max-width: 34em ) {
  section.site-search .recommendations li {
    .img-wrapper {
      @include columns(2, false, 3%);
    }
    .text {
      @include columns(10, true, 3%);
    }
  }
}
@media ( max-width: 32em ) {
  nav.app .username {
    display: none;
  }
}
