@media ( max-width: 68em ) {
  body {
    min-width: 0;
  }
}

@media ( max-width: 51em ) {
  body {
    .wrapper {
      margin: 0 1.5em;
      padding-bottom: 1em;
    }
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #masthead-search {
    margin-right: 1em;
  }
}

@media ( max-width: 44em ) {
  body.site-search .wrapper {
    margin: 0 1.5em;
  }
  section.site-search {
    .search-and-results {
      @include columns(12);
    }
    section.categories {
      @include columns(12);
      li {
        margin: 1em 0;
      }
      li.group {
        margin-top: 2em;
      }
    }
    .filter {
      display: block;
    }
  }
}
