@media ( max-width: 48em ) {
  .wrapper {
    max-width: 34em;
  }
  main {
    .search-and-results {
      @include columns(12);
    }
    nav.categories {
      @include columns(12);
      li {
        margin-bottom: .5em;
      }
      li.group {
        margin-top: 2em;
      }
    }
    .filter {
      display: block;
    }
  }
  .admin {
    td, th {
      &.terms, &.auth {
        display: none;
      }
    }
  }
}
@media ( max-width: 34em ) {
  main .recommendations li {
    .img-wrapper {
      @include columns(2, false, 3%);
    }
    .text {
      @include columns(10, true, 3%);
    }
  }
}
@media ( max-width: 32em ) {
  nav.app .username {
    display: none;
  }
}
