main .recommendations {
  li {
    @include clearfix();
    .img-wrapper {
      @include columns(1.6);
      img {
        margin: .1em 0 0;
        width: 100%;
        height: auto;
      }
    }
    .text {
      @include columns(10.4, true);
      h2 {
        padding-top: 0;
      }
      p {
        margin: 0;
        color: black;
      }
    }
  }
}
