li.recommendation {
  @include clearfix();
  .img-wrapper {
    @include columns(2, false, 4%);
    img {
      margin: .1em 0 0;
      width: 100%;
      height: auto;
    }
  }
  h2 {
    @include columns(10, true, 4%);
  }
}
